body
{
     background-image: url('https://media.discordapp.net/attachments/1048531139998007318/1048551648173228032/Ajouter_un_titre.png?width=1056&height=594');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.menu
{
    border: solid 2px black;
    background-color: black;
    width: 100%;
    height: 5%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.item-menu
{
    color: white;
    width: 120%;
    height: 42px;
    cursor: pointer;
    background: grey;
}
.item-menu:hoverhttps://gaetanldx94.github.io/lesNarwals/index.html
{
    color: blue;
    background: red;
}
nav
{
    position: absolute;
    top: -2.1%;
    left: 0%;
}
nav ul
{
    list-style:none;
    padding:0px;
    margin:0px;
}
nav ul li 
{
    float:left;
    padding:0px;
    margin:0px;
    padding-right:20px;
}

nav ul li ul 
{
    margin:0px; 
    padding:5px; 
    position:absolute; 
    float:none; 
    display:none;
}
nav ul li:hover ul 
{
    display:block;
}
nav ul li ul li 
{ 
    margin:0px;
    padding:0px; 
    float:none;
    position: relative;
    left: 1%;
}
nav ul li ul li a 
{
    width:150px; 
    display:block;
    text-decoration: none;
}
a:link
{
    color: white;
}
a:visited
{
    color: red;
}

.test
{
    padding : 8px 10px;
    background-color : black;
    color : white;
}
