}
  * {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
  }
  nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
  }

  nav ul 
  {list-style:none;
  padding:0px;margin:0px;} /*pas de marge, pas de puce*/



  nav ul li ul 
  {margin:0px;
  padding:0px; position:absolute; float:none; display:none;} /*pas d'affichage de sous-menu*/
 
  
  nav ul li:hover ul  
  {display:block;}  /*élément menu survolé : afficher sous-menu, vertical*/
  nav ul li ul li 
  
  { margin:0px; padding:0px;
  float:none;} /*élément sous-menu vertical*/ 

  nav ul li ul li a 
  {width:150px;
  display:block;}
  /*lien sous-menu : largeur élément 150px*/    

  nav ul
  {list-style:none;padding:0px;
  margin:0px;} /*pas de marge, pas de puce*/
  
  nav ul li {float:left;padding:0px;margin:0px;
  padding-right:20px;} /*menu horizontal, espace séparateur 20px*/ 
  
  nav ul li ul
  {margin:0px; padding:0px;
  position:absolute; float:none;
  display:none;} /*pas d'affichage de sous-menu*/

  nav ul li:hover ul
  {display:block;}  /*élément menu survolé : afficher sous-menu, vertical*/
  
  nav ul li ul li { margin:0px;
  padding:0px; float:none;} /*élément sous-menu vertical*/ 
  
  nav ul li ul li a {width:150px;
  display:block;} /*lien sous-menu : largeur élément 150px*/
